.header-background {
    background-color: #f8f9fa; 
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures responsiveness on smaller screens */
}

.logo-container {
    flex: 1;
}

.logo-container img {
    max-width: 100px; /* Sets a max width for responsiveness */
    height: auto; /* Maintains the aspect ratio */
}

.nav-links {
    flex: 3; /* Gives more space to the navigation */
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333; 
    transition: color 0.3s;
    font-weight: bold; 
}

.nav-links a:hover {
    color: #00aced; 
}

.header-right {
    flex: 1; 
    text-align: right; 
    color: #333; 
    font-size: large;
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column; /* Stacks links vertically on smaller screens */
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
    
    .logo-container img {
        max-width: 80px; /* Adjust logo size on smaller screens */
    }
}
